{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>


<body>
    <div class="container">
        <div class="info">
            <h1>SmartGaze Web App</h1>
        </div>
        <div class="login-form">
            <div class="message">
                {% for msg in messages %}
                {{ msg }}
                {% endfor %}
            </div>
            <h2>Login</h2>
            <form action="{% url 'user_login' %}" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Username" name="username" required>
                <input type="password" placeholder="Password" name="password" required>
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
        </div>
    </div>
</body>

</html>