{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>

<body>
    <div class="info">
        <h1>SmartGaze Web App</h1>
    </div>
    <div class="container">
        <h2>Register a New Account</h2>
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <div class="message">
                {% for msg in messages%}
                {{msg}}
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="first_name">First Name:</label>
                {{ form.first_name }}
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                {{ form.last_name }}
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="mirror">Connect with Mirror:</label>
                {{ form.connect_with_mirror }}
            </div>
            <div class="form-group">
                <label for="email">Email ID:</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                {{ form.password }}
            </div>
            <div class="form-group">
                <label for="re_password">Confirm Password:</label>
                {{ form.re_password }}
            </div>
            <button type="submit">Sign up</button>
        </form>
    </div>
</body>

</html>


